body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
    list-style-position: inside;
    width: 800px; 
	margin-left: auto; 
	margin-right: auto; 
}

img {
    height: auto;
    width: 500px;
}

button, .Home-Button, .Home-Recipe-Links {
    animation: rainbow 10s linear infinite;
    background: #ff0;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

@keyframes rainbow{0%, to{background:violet}25%{background:orange}50%{background: #ff0}75%{background:#00f}}
